.gameplay {
  display: block;
  background: #E5E5E5;
  width: 100%;
  height: 100%;

  @media (min-width: 1024px) {
    display: flex;
  }

  &__menu-opener {
    display: block;

    position: absolute;
    right: 20px;
    top: 21px;

    cursor: pointer;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__quiz {
    @media (min-width: 1024px) {
      max-width: 840px;
      margin: 0 80px;
    }
  }

  &__title {
    padding: 136px 16px 97px;
    font-weight: 600;
    font-size: 18px;
    line-height: 116%;
    color: #1C1C21;
    text-align: center;

    @media (min-width: 1024px) {
      font-size: 32px;
      text-align-last: left;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    @media (min-width: 1240px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__label {
    width: 288px;
    height: 56px;

    display: flex;
    align-items: center;
    flex-grow: 1;

    background-image: url('../../images/button.svg');
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      min-width: 360px;
      height: 72px;
    }

    &::before {
      display: block;
      content: '';
      height: 1px;
      width: 17px;
      background-color: #D0D0D8;

      transform: translate(-90%, -80%);
    }

    &::after {
      display: block;
      content: '';
      height: 1px;
      width: 17px;
      background-color: #D0D0D8;

      position: absolute;
      transform: translate(286px, -80%);
    }
  }

  &__button-img {
    width: 100%;
    height: 100%;
  }

  &__answer {
    margin-left: 24px;

    &::first-letter {
      margin-right: 8px;
      color: #2869e8cc;
    }
  }

  &__total-win {
    height: 100vh;
    width: 360px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #E5E5E5;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 1.2s;
    transform: translateX(-120%);

    @media (min-width: 1024px) {
      min-width: 378px;
      display: flex;
      position: static;
      transform: translateX(0);
      background-color: #fff;
    }
  }

  &__total-win--active {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #E5E5E5;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateX(0);

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__menu-closer {
    display: block;

    position: fixed;
    right: 20px;
    top: 21px;

    cursor: pointer;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__winlist {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__win-item {
    width: 240px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../../images/total-item-mob.svg');
    background-size: contain;
    background-repeat: no-repeat;

    &::before {
      display: block;
      content: '';
      height: 1px;
      width: 70px;
      background-color: #D0D0D8;
      position: absolute;

      transform: translate(-154px, 0%);
    }

    &::after {
      display: block;
      content: '';
      height: 1px;
      width: 70px;
      background-color: #D0D0D8;

      position: absolute;
      transform: translate(154px, 0%);
    }
  }
}

input {
  display: none;
}

.desctop-container {
  @media (min-width: 1024px) {
    flex-grow: 1;
  }
}