.gameplay {
  display: block;
  background: #E5E5E5;
  width: 100%;
  height: 100%;

  @media (min-width: 1024px) {
    display: flex;
  }

  &__menu-opener {
    display: block;

    position: absolute;
    right: 20px;
    top: 21px;

    cursor: pointer;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__quiz {
    @media (min-width: 1024px) {
      max-width: 840px;
      margin: 0 80px;
    }

    @media (min-width: 1200px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    padding: 136px 16px 97px;
    font-weight: 600;
    font-size: 18px;
    line-height: 116%;
    color: #1C1C21;
    text-align: center;

    @media (min-width: 1024px) {
      font-size: 32px;
      text-align: left;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    @media (min-width: 1240px) {
      max-width: 640px;

      column-gap: 0;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__label {
    width: 320px;
    height: 56px;

    display: flex;
    align-items: center;
    flex-grow: 1;

    background-image: url('../../images/choice-inactive-des.svg');
    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;

    &:hover {
      background-image: url('../../images/choice-hover-des.svg');
    }

    &--selected {
      background-image: url('../../images/choice-selected-des.svg');

      &:hover {
        background-image: url('../../images/choice-selected-des.svg');
      }
    }

    &--wrong {
      background-image: url('../../images/choice-wrong-des.svg');

      &:hover {
        background-image: url('../../images/choice-wrong-des.svg');
      }
    }

    &--correct {
      background-image: url('../../images/choice-correct-des.svg');

      &:hover {
        background-image: url('../../images/choice-correct-des.svg');
      }
    }

    @media (min-width: 768px) {
      width: 320px;
      height: 57px;
    }
  }

  &__button-img {
    width: 100%;
    height: 100%;
  }

  &__answer {
    margin-left: 40px;

    &::first-letter {
      margin-right: 8px;
      color: #2869e8cc;
    }
  }

  &__total-win {
    height: 100vh;
    width: 360px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #E5E5E5;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 1.2s;
    transform: translateX(-120%);

    @media (min-width: 1024px) {
      min-width: 376px;
      display: flex;
      position: static;
      transform: translateX(0);
      background-color: #fff;
    }
  }

  &__total-win--active {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #E5E5E5;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateX(0);

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__menu-closer {
    display: block;

    position: fixed;
    right: 20px;
    top: 21px;

    cursor: pointer;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__winlist {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__win-item {
    width: 320px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../../images/win-inactive-mob.svg');
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-width: 1024px) {
      width: 376px;
      height: 40px;

      background-image: url('../../images/win-inactive-des.svg');
    }

    &--active {
      font-size: 14px;
      font-weight: 400;
      color: rgba(40, 105, 232, 0.8);
      line-height: 116%;

      background-image: url('../../images/win-active-mob.svg');

      @media (min-width: 1024px) {
      background-image: url('../../images/win-active-des.svg');
      }
    }

    &--grey {
      font-weight: 400;
      font-size: 14px;
      line-height: 116%;
      color: #D0D0D8;

      background-image: url('../../images/win-grey-mob.svg');

      @media (min-width: 1024px) {
        background-image: url('../../images/win-grey-des.svg');
      }
    }
  }
}

input {
  display: none;
}

.desctop-container {
  @media (min-width: 1024px) {
    flex-grow: 1;
  }
}
